
-# = ctx.inspect

.email-contexts--form
  - url = ctx.new_record? ? email_contexts_path : email_context_path(ctx)
  = form_for ctx, as: :ctx, url: url do |f|
    .field.field-template
      = f.label "Template"
      = f.select :email_template_id, options_for_select(@email_templates_list, selected: params[:email_template_id] || ctx.email_template_id ), {}, { class: 'select2' }
      - if ctx.email_template_id
        = link_to 'view', email_template_path( ctx.email_template_id ), target: :_blank, class: [ 'action-view' ]
        = link_to '~', edit_email_template_path( ctx.email_template_id ), target: :_blank, class: [ 'action-view' ]
        layout: #{ctx.tmpl.layout}

    .field.flex-row
      %label From
      = f.select :from_email, options_for_select(Ish::EmailTemplate.from_email_list, selected: ctx.from_email), {}, { class: 'select2' }

    .field.flex-row
      %label To lead
      = f.select :lead_id, options_for_select( @leads_list, selected: ctx.lead_id ), {}, { class: 'select2' }

    .field.flex-row
      %label cc
      = f.text_field :cc, class: 'w-100'

    .field.field-subject
      = f.label :subject
      = f.text_field :subject, class: 'w-100'



    .tab-labels
      %a.label-raw{ href: "javascript: void(0)", data: { ref: '.tab-raw' } } Raw
      %a.label-preview.active{ href: "javascript: void(0)", data: { ref: '.tab-preview' } } Preview
      .label-save-preview= f.submit 'Save & Preview'
    .tabs
      .tab-raw
        = f.text_area :body, class: 'tinymce'
      .tab-preview
        - if ctx.new_record?
          New record...
        - else
          %iframe{ src: email_context_iframe_path(ctx), width: '100%', height: '100%' }


    .actions
      .left
        = f.submit 'Preview'
      .right
        = f.label :send_at
        = f.text_field :send_at
        = f.submit 'Schedule'
