
.email-contexts-index.padded

  %h5.flex-row.header.collapse-expand-trash#emailContextsIndex
    = render '/wco_email/email_contexts/header'

  .W0
    = render 'wco/paginate', resource: @ctxs, param_name: :ctxs_page, views_prefix: :wco

    %table.bordered.data-table
      %thead
        %tr
          %th.actions
          %th.from From
          %th.to To
          %th.subject Subject
          %th.template Template
          %th.send_at Send at
          %th.sent_at Sent at
          %th.unsubscribed_at Unsubscribed at
      %tbody
        - @ctxs.each do |ctx|
          %tr
            %td.actions.padded
              - if ctx.sent_at || ctx.unsubscribed_at
                \--
              - else
                = link_to '[~]',    edit_email_context_path(ctx)
                = button_to 'x',         email_context_path(ctx), method: :delete, form_class: :inline, data: { confirm: 'Are you sure?' }
                = button_to 'send', send_immediate_email_context_path(ctx),        form_class: :inline, data: { confirm: 'Are you sure?' }

            %td.from
              = ctx.from_email ? ctx.from_email : "t| #{ctx.tmpl.from_email}"
            %td.to
              = link_to ctx.lead.email, lead_path(ctx.lead)
            %td
              = link_to email_context_path(ctx) do
                = ctx.subject ? ctx.subject : "t| #{ctx.tmpl.subject}"
            %td= ctx.email_template.slug
            %td.send_at.padded
              .datetime
                .date= pp_date ctx.send_at
                .time= pp_time ctx.send_at
            %td
              .datetime.padded= pp_date ctx.sent_at
            %td
              .datetime.padded= pp_date ctx.unsubscribed_at


    = render 'wco/paginate', resource: @ctxs, param_name: :ctxs_page, views_prefix: :wco