

.conversations--search.Card
  .inline-block
    = form_tag conversations_path, method: :get do
      %b Search
      %label from_email
      = text_field_tag :from_email, params[:from_email]
      %label by subject
      = text_field_tag :subject, params[:subject]
      = submit_tag '>'
      - if params[:lead_id]
        <b>lead_id:</b>#{params[:lead_id]}

