
- content_for :sidebar do
  = render 'wco_email/sidebar'

.conversations-index
  .header
    %h5.title
      - if @tag
        Tag `#{@tag}`
      - if @tag_not
        Tag-not `#{@tag_not}`
      (#{@conversations.length})
    = render '/wco_email/conversations/search'
  = render '/wco_email/conversations/actions'

  = render '/wco/paginate', resource: @conversations, param_name: :conv_page
  = render '/wco_email/conversations/table', convs: @conversations
  = render '/wco/paginate', resource: @conversations, param_name: :conv_page
