
- content_for :sidebar do
  = render 'wco_email/sidebar'

.conversations-show.maxwidth
  %h5
    = @conversation.subject
    <b>(#{@conversation.messages.length})</b>
    %span.gray.mini= @conversation.id


  - if @other_convs.present?
    - @other_convs.each do |conv|
      .d-flex
        = button_to "Merge", merge_conversations_path( @conversation, conv ), data: { confirm: 'Are you sure?' }
        = conv.subject
        (#{conv.messages.length})
        %span.gray.mini= conv.id


  %ul.m-0.p-0
    - @conversation.messages.each do |msg|
      %li
        = render '/wco_email/messages/meta', message: msg
        %iframe.message-iframe{ src: message_iframe_path(msg) }

        = render '/wco_email/contexts/form_reply', lead_id: msg.lead_id, message: msg, ctx: WcoEmail::Context.new({ from_email: msg.to&.downcase, subject: msg.subject, email_template_id: ET.find_by( slug: 'blank').id })