
= link_to "Email Templates (#{WcoEmail::EmailTemplate.all.count})", email_templates_path
= form_tag email_templates_path, method: :get do
  = text_field_tag :q
= link_to '[+]', new_email_template_path
= link_to '[expanded]', email_templates_path({ template: '_index_expanded' })
