
.email-action-templates--form

  = form_for tmpl, as: :tmpl, :html => { :multipart => true } do |f|
    .a
      = f.submit :submit

    .row
      .col-md-6
        .field
          %label Slug
          = f.text_field :slug
        .field
          %label from_email
          = f.select :from_email, options_for_select( WcoEmail::EmailTemplate::FROM_EMAILS_2, selected: tmpl.from_email ), {}, { class: 'select2' }
        .field
          %label Template
          = f.select :email_template_id, options_for_select( @email_templates_list, selected: tmpl.email_template_id ), {}, class: 'select2'

      .col-md-6
        .field
          %label Next Email Actions
          .eg rand(1..5).business_days.from_now.to_date + rand(8..16).hours + rand(1..59).minutes
          .eg This is not an interval! But you can do Time.now + 30.seconds
          %br

          = f.fields_for :ties do |next_f|
            .flex-row.field
              %label next_at_exe
              = next_f.text_field :next_at_exe, class: 'flex-grow-1 w-100'
            .flex-row.field
              = next_f.label :to_delete
              = next_f.check_box :to_delete
              = next_f.select :next_tmpl_id, options_for_select( @email_action_templates_list, selected: next_f.object.next_tmpl_id ), { }, { class: 'select2' }
            %br

    .row
      .col-sm-6
        = f.submit :submit


