
.email-action-templates-index.maxwidth
  .header
    %h5.title
      = render 'header', tmpls: @tmpls

  %table.bordered
    %tr
      %th= check_box_tag 'hmm'
      %th &nbsp;
      %th Slug
      -# %th From
      %th Tmpl
      %th next actions
    - @tmpls.each_with_index do |tmpl, idx|
      %tr
        %td
          .gray= idx+1
          = check_box_tag 'hmm'
        %td
          .flex-row
            = link_to '[~]', edit_email_action_template_path( tmpl )
            = button_to '[x]', email_action_template_path( tmpl ), data: { confirm: 'Are you sure?' }, method: :delete

        %td
          = tmpl.slug
        -# %td= tmpl.from_email
        %td.tmpl
          = render '/wco_email/email_templates/show_cell', tmpl: tmpl.email_template

        %td
          - if tmpl.ties.blank?
            No ties
          %ul
            - tmpl.ties.map do |tie|
              %li
                .a= tie.next_at_exe
                .a
                  - if tie.next_tmpl.slug == tmpl.slug
                    (same)
                  = tie.next_tmpl.slug

