
.email-actions-show.maxwidth
  .header
    %h5.title Email Action Template `#{@tmpl}`

  %ul
    - @tmpl.ties.map do |tie|
      %li
        .a <b>Next tmpl:</b> #{"(same)" if tie.next_tmpl.slug == @tmpl.slug} #{tie.next_tmpl.slug}
        .a <b>Next at exe:</b> #{tie.next_at_exe} <b>Eval'ed:</b> #{eval( tie.next_at_exe )}
