
.application--main-header.main-header.maxwidth{ class: "#{ENV['RAILS_ENV']} #{ENV['RAILS_ENV'][0...3]=="dev" ? "development" : ''}" }

  %i.fa.fa-compress.collapse-expand#collapseHeaderEmail
    Wco Email & CRM
  .flex-row
    %ul
      %li= link_to 'Email Messages', email_conversations_path
      %li
        Stubs
        (#{WcoEmail::MessageStub.pending.length})
        (#{WcoEmail::MessageStub.all.length})
      %li
        = link_to "Templates (#{WcoEmail::MessageTemplate.all.length})", email_templates_path
        = link_to '[+]', new_email_template_path
      %li
        = link_to "Campaigns (#{WcoEmail::Campaign.all.length})", email_campaigns_path
        = link_to '[+]', new_email_campaign_path
      %li
        = link_to "Email Filters (#{WcoEmail::EmailFilter.active.length})", email_filters_path
        = link_to '[+]', new_email_filter_path
      %li
        = link_to "Email Ctxs (#{WcoEmail::Context.all.length})", email_contexts_path({ sent: false })
        = link_to '[+]', new_email_context_path
        = link_to 'summary', email_contexts_summary_path( format: :html )
        = link_to '[csv]', email_contexts_summary_path( format: :csv )
      %li
        = link_to 'Unsubs', unsubscribes_path
        = link_to '[summary]', analytics_path

    %ul
      %li
        = link_to "Email Actions", email_actions_path
        = link_to '[+]', new_email_action_path
      %li
        = link_to "Schs (#{WcoEmail::ScheduledEmailAction.active.length})", scheduled_email_actions_path
        = link_to '[+]', new_scheduled_email_action_path
      %li
        = link_to 'OLATs', lead_action_templates_path
        = link_to '[+]', new_lead_action_template_path
        = link_to 'Lead Actions', lead_actions_path
      %li
        = link_to "OActions (#{Wco::OfficeAction.all.length})", office_actions_path
        = link_to '[+]', new_office_action_path

  .c
