
.application--main-header.main-header{ class: "#{ENV['RAILS_ENV']} #{ENV['RAILS_ENV'][0...3]=="dev" ? "development" : ''}" }

  -# %i.fa.fa-compress.collapse-expand#collapseHeaderMain
  -#   Wco Suite
  .maxwidth

    %i.fa.fa-compress.collapse-expand#collapseHeaderEmail
      Wco Suite
    .flex-row

      %ul
        %li
          = link_to 'Sites', sites_path
        %li
          = link_to 'Publishers', publishers_path
        %li
          = link_to 'Galleries', galleries_path
    .c
