
.email-actions--form
  = form_for email_action do |f|
    .header
      %h5.title Schedule an Email Action

    .flex-row
      %label Status
      = f.select :status, options_for_select(WcoEmail::EmailAction::STATUSES, selected: email_action.status )

    .flex-row
      = f.label :lead
      = f.select :lead_id, options_for_select(@leads_list, selected: email_action[:lead_id]||params[:lead_id] ), {}, class: 'select2'
      = f.label :email_action_template
      = f.select :email_action_template, options_for_select( @email_action_templates_list, selected: email_action[:email_action_template_id] ), {}, class: 'select2'

    .flex-row
      = f.label :perform_at
      = f.text_field :perform_at, value: email_action.new_record? ? Time.now : email_action.perform_at, class: 'flex-grow-1'
      = submit_tag 'Schedule'