
.email-actions-index.padded
  .header
    %h2
      Email Actions
      (#{Sch.all.count})
      = link_to '[+]', new_email_action_path

  %table.bordered.data-table
    %thead
      %tr
        %td
        %td Active?
        %td Email Action Template
        %td To <br />(Lead)
        %td.tmpl Email Template
        %td Perform at
    %tbody
      - @schs.each do |sch|
        %tr
          %td= link_to '[~]', edit_email_action_path(sch)
          %td= sch.status == 'active' ? 'Y' : '-'
          %td.email_action_template
            = render '/wco_email/email_action_templates/show_cell', tmpl: sch.tmpl
          %td.to
            = link_to sch.lead.email, wco.lead_path(sch.lead)
          %td.tmpl
            = render '/wco_email/email_templates/show_cell', tmpl: sch.tmpl.email_template
          %td
            = pp_date sch.perform_at.in_time_zone
            = pp_time sch.perform_at.in_time_zone





