
.email-actions-index.padded
  .header
    %h2
      Email Actions
      (#{Sch.all.count})
      = link_to '[+]', new_email_action_path

  %table.bordered.data-table
    %thead
      %tr
        %td
        %td Active?
        %td From
        %td To
        %td Tmpl
        %td Perform at
    %tbody
      - @schs.each do |sch|
        %tr
          %td= link_to '[~]', edit_email_action_path(sch)
          %td= sch.status == 'active' ? 'Y' : '-'
          %td= sch.tmpl.from_email
          %td= link_to sch.lead.email, lead_path(sch.lead)
          %td= link_to sch.tmpl.email_template.slug, email_template_path(sch.tmpl.email_template)
          %td= sch.perform_at.in_time_zone





