
.email-filters-index.padded
  .header
    %h2.title
      Email Filters (#{@email_filters.length})
      = link_to '[+]', new_email_filter_path


  .maxwidth
    %hr
    %h5.title.collapse-expand#newEmailFilter New Email Filter
    = render 'form', email_filter: @email_filter
  %hr

  -# = paginate @email_filters, param_name: WcoEmail::EmailFilter::PAGE_PARAM_NAME, views_prefix: 'wco'
  %table.bordered.data-table
    %thead
      %tr
        %th &nbsp;
        %th &nbsp;
        %th From Regex
        %th From Exact
        %th Subject Regex
        %th Subject Exact
        %th Body Exact
        %th Kind
        %th Respond with <br />Email Template
        %th Email Action <br />(template)
        %th Tag
    - @email_filters.each_with_index do |ef, idx|

      %tr
        %td
          .gray= idx+1
          = check_box_tag 'checked'
        %td
          = link_to '[~]', edit_email_filter_path(ef)
          .inline-block= button_to '[x]', email_filter_path(ef), method: :delete, data: { confirm: 'Are you sure?' }
        %td
          `#{ef.from_regex}`
        %td
          `#{ef.from_exact}`
        %td= ef.subject_regex
        %td= ef.subject_exact
        %td= ef.body_exact
        %td= ef.kind
        %td= ef.email_template&.slug
        %td= ef.email_action_template&.slug
        %td= ef.tag&.slug
  -# = paginate @email_filters, param_name: WcoEmail::EmailFilter::PAGE_PARAM_NAME, views_prefix: 'wco'


