
.email-campaigns-index.maxwidth
  .header
    %h5.title
      Email Campaigns (#{@campaigns.length})
      = link_to '[+]', new_email_campaign_path

  %ul
    - @campaigns.each do |c|
      %li
        = link_to c.slug, email_campaign_path(c)
        (#{c.leads.length})
        = link_to '[~]', edit_email_campaign_path(c)

