
.email-contexts--form-reply.form-mini
  = form_for WcoEmail::Context.new do |f|
    .flex-row
      .flex-row
        %label lead
        = f.select :lead, options_for_select( @leads_list, selected: lead_id ), {}, class: 'select2', required: true
      .flex-row
        = f.label :template
        = f.select :email_template_id, options_for_select( @email_templates_list ), {}, class: 'select2', required: true
      .flex-row
        %label Respond inline?
        = check_box_tag :respond_inline, message.id, checked: true
      .flex-row
        = f.label :send_at
        = f.text_field :send_at, required: true, placeholder: 'YYYY-MM-DD', value: Time.now.strftime('%Y-%m-%d'), size: 10, class: 'input-date'
      .flex-row
        = f.submit 'Send/Schedule'